In [ ]:
import pandas as pd

# Specify the file path of the CSV file
file_path = "/content/LoanExport.csv"

# Load the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)
print(df)

        CreditScore  FirstPaymentDate FirstTimeHomebuyer  MaturityDate    MSA  \
0                 0            199902                  N        202901  16974
1                 0            199902                  N        202901  19740
2                 0            199902                  N        202901  29940
3                 0            199902                  N        202901  31084
4                 0            199902                  N        202901  35644
...             ...               ...                ...           ...    ...
291446          839            199903                  N        202902  37964
291447          840            200210                  N        202904  35644
291448          840            200304                  N        202904  42044
291449          845            199904                  N        202903  37964
291450          849            199903                  N        202902  37964

        MIP  Units Occupancy  OCLTV  DTI  ...  PostalCode    LoanSeqNum  \
0        25      1         O     89   27  ...       60400  F199Q1268030
1         0      1         O     73   17  ...       80200  F199Q1015092
2         0      1         O     75   16  ...       66000  F199Q1266886
3         0      1         O     76   14  ...       90700  F199Q1178167
4         0      1         O     78   18  ...        7600  F199Q1178517
...     ...    ...       ...    ...  ...  ...         ...           ...
291446    0      1         O     60   32  ...       19400  F199Q1220925
291447    0      1         O     73    0  ...       11600  F199Q1401332
291448    0      1         O     73   31  ...       92800  F199Q1401282
291449    0      1         I     80   54  ...       19300  F199Q1220924
291450    0      1         O     47   29  ...       18900  F199Q1220923

        LoanPurpose OrigLoanTerm NumBorrowers SellerName  \
0                 P          360            2         FL
1                 N          360            1         FT
2                 N          360            2         FL
3                 N          360            2         GM
4                 N          360            2         GM
...             ...          ...          ...        ...
291446            N          360            2         Ot
291447            P          319            2         Ot
291448            N          313            1         Ot
291449            P          360            2         Ot
291450            P          360            2         Ot

                ServicerName EverDelinquent MonthsDelinquent MonthsInRepayment
0       WASHINGTONMUTUALBANK              0                0                52
1       CHASEHOMEFINANCELLC               0                0               144
2       WASHINGTONMUTUALBANK              0                0                67
3       GMACMTGECORP                      0                0                35
4       GMACMTGECORP                      0                0                54
...                      ...            ...              ...               ...
291446  Other servicers                   0                0                12
291447  Other servicers                   0                0                53
291448  Other servicers                   0                0                38
291449  Other servicers                   0                0                32
291450  Other servicers                   0                0                29

[291451 rows x 28 columns]

In [ ]:
import os #paths to file
import numpy as np # linear algebra
import pandas as pd # data processing
import warnings# warning filter


#ploting libraries
import matplotlib.pyplot as plt
import seaborn as sns

#feature engineering
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

#train test split
from sklearn.model_selection import train_test_split

#metrics
from sklearn.metrics import mean_absolute_error as MAE
from sklearn.metrics import mean_squared_error as MSE
from sklearn.metrics import r2_score as R2
from sklearn.model_selection  import cross_val_score as CVS


#ML models
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Lasso


#default theme and settings
sns.set(context='notebook', style='darkgrid', palette='deep', font='sans-serif', font_scale=1, color_codes=False, rc=None)
pd.options.display.max_columns

#warning hadle
warnings.filterwarnings("always")
warnings.filterwarnings("ignore")

In [ ]:
print(df.head())

   CreditScore  FirstPaymentDate FirstTimeHomebuyer  MaturityDate    MSA  MIP  \
0            0            199902                  N        202901  16974   25
1            0            199902                  N        202901  19740    0
2            0            199902                  N        202901  29940    0
3            0            199902                  N        202901  31084    0
4            0            199902                  N        202901  35644    0

   Units Occupancy  OCLTV  DTI  ...  PostalCode    LoanSeqNum  LoanPurpose  \
0      1         O     89   27  ...       60400  F199Q1268030            P
1      1         O     73   17  ...       80200  F199Q1015092            N
2      1         O     75   16  ...       66000  F199Q1266886            N
3      1         O     76   14  ...       90700  F199Q1178167            N
4      1         O     78   18  ...        7600  F199Q1178517            N

  OrigLoanTerm NumBorrowers SellerName          ServicerName EverDelinquent  \
0          360            2         FL  WASHINGTONMUTUALBANK              0
1          360            1         FT  CHASEHOMEFINANCELLC               0
2          360            2         FL  WASHINGTONMUTUALBANK              0
3          360            2         GM  GMACMTGECORP                      0
4          360            2         GM  GMACMTGECORP                      0

  MonthsDelinquent MonthsInRepayment
0                0                52
1                0               144
2                0                67
3                0                35
4                0                54

[5 rows x 28 columns]

In [ ]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291451 entries, 0 to 291450
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CreditScore         291451 non-null  int64
 1   FirstPaymentDate    291451 non-null  int64
 2   FirstTimeHomebuyer  291451 non-null  object
 3   MaturityDate        291451 non-null  int64
 4   MSA                 291451 non-null  object
 5   MIP                 291451 non-null  int64
 6   Units               291451 non-null  int64
 7   Occupancy           291451 non-null  object
 8   OCLTV               291451 non-null  int64
 9   DTI                 291451 non-null  int64
 10  OrigUPB             291451 non-null  int64
 11  LTV                 291451 non-null  int64
 12  OrigInterestRate    291451 non-null  float64
 13  Channel             291451 non-null  object
 14  PPM                 291451 non-null  object
 15  ProductType         291451 non-null  object
 16  PropertyState       291451 non-null  object
 17  PropertyType        291451 non-null  object
 18  PostalCode          291451 non-null  object
 19  LoanSeqNum          291451 non-null  object
 20  LoanPurpose         291451 non-null  object
 21  OrigLoanTerm        291451 non-null  int64
 22  NumBorrowers        291451 non-null  object
 23  SellerName          266457 non-null  object
 24  ServicerName        291451 non-null  object
 25  EverDelinquent      291451 non-null  int64
 26  MonthsDelinquent    291451 non-null  int64
 27  MonthsInRepayment   291451 non-null  int64
dtypes: float64(1), int64(13), object(14)
memory usage: 62.3+ MB

In [ ]:
df.describe()

,CreditScore,FirstPaymentDate,MaturityDate,MIP,Units,OCLTV,DTI,OrigUPB,LTV,OrigInterestRate,OrigLoanTerm,EverDelinquent,MonthsDelinquent,MonthsInRepayment
count,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000,291451.000000
mean,708.936991,199904.760553,202902.367043,9.216685,1.026022,76.960529,30.033453,124940.387921,76.937986,6.926547,359.835375,0.197848,1.837729,60.805291
std,68.408791,13.821228,16.090508,12.648273,0.202986,15.236154,13.203974,53657.440624,15.225298,0.343541,2.286939,0.398378,8.809392,46.142599
min,0.000000,199901.000000,202402.000000,0.000000,0.000000,0.000000,0.000000,8000.000000,0.000000,4.000000,301.000000,0.000000,0.000000,1.000000
25%,675.000000,199903.000000,202902.000000,0.000000,1.000000,70.000000,22.000000,83000.000000,70.000000,6.750000,360.000000,0.000000,0.000000,34.000000
50%,717.000000,199904.000000,202903.000000,0.000000,1.000000,80.000000,31.000000,117000.000000,80.000000,6.875000,360.000000,0.000000,0.000000,48.000000
75%,753.000000,199905.000000,202904.000000,25.000000,1.000000,90.000000,39.000000,160000.000000,90.000000,7.125000,360.000000,0.000000,0.000000,63.000000
max,849.000000,201303.000000,204302.000000,55.000000,4.000000,110.000000,65.000000,497000.000000,103.000000,12.350000,361.000000,1.000000,180.000000,212.000000

In [ ]:
print(df.isnull().sum().sort_values(ascending=False))

SellerName            24994
CreditScore               0
FirstPaymentDate          0
MonthsDelinquent          0
EverDelinquent            0
ServicerName              0
NumBorrowers              0
OrigLoanTerm              0
LoanPurpose               0
LoanSeqNum                0
PostalCode                0
PropertyType              0
PropertyState             0
ProductType               0
PPM                       0
Channel                   0
OrigInterestRate          0
LTV                       0
OrigUPB                   0
DTI                       0
OCLTV                     0
Occupancy                 0
Units                     0
MIP                       0
MSA                       0
MaturityDate              0
FirstTimeHomebuyer        0
MonthsInRepayment         0
dtype: int64

In [ ]:
df.isnull().sum()/df.shape[0] *100

CreditScore           0.000000
FirstPaymentDate      0.000000
FirstTimeHomebuyer    0.000000
MaturityDate          0.000000
MSA                   0.000000
MIP                   0.000000
Units                 0.000000
Occupancy             0.000000
OCLTV                 0.000000
DTI                   0.000000
OrigUPB               0.000000
LTV                   0.000000
OrigInterestRate      0.000000
Channel               0.000000
PPM                   0.000000
ProductType           0.000000
PropertyState         0.000000
PropertyType          0.000000
PostalCode            0.000000
LoanSeqNum            0.000000
LoanPurpose           0.000000
OrigLoanTerm          0.000000
NumBorrowers          0.000000
SellerName            8.575713
ServicerName          0.000000
EverDelinquent        0.000000
MonthsDelinquent      0.000000
MonthsInRepayment     0.000000
dtype: float64

In [ ]:
df.isnull().sum()/df.shape[0] *100

CreditScore           0.000000
FirstPaymentDate      0.000000
FirstTimeHomebuyer    0.000000
MaturityDate          0.000000
MSA                   0.000000
MIP                   0.000000
Units                 0.000000
Occupancy             0.000000
OCLTV                 0.000000
DTI                   0.000000
OrigUPB               0.000000
LTV                   0.000000
OrigInterestRate      0.000000
Channel               0.000000
PPM                   0.000000
ProductType           0.000000
PropertyState         0.000000
PropertyType          0.000000
PostalCode            0.000000
LoanSeqNum            0.000000
LoanPurpose           0.000000
OrigLoanTerm          0.000000
NumBorrowers          0.000000
SellerName            8.575713
ServicerName          0.000000
EverDelinquent        0.000000
MonthsDelinquent      0.000000
MonthsInRepayment     0.000000
dtype: float64

In [ ]:
df.dropna(subset=['SellerName'], inplace=True)
df.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [11]:
print(df.isnull().sum().sort_values(ascending=False))

CreditScore           0
FirstPaymentDate      0
MonthsDelinquent      0
EverDelinquent        0
ServicerName          0
SellerName            0
NumBorrowers          0
OrigLoanTerm          0
LoanPurpose           0
LoanSeqNum            0
PostalCode            0
PropertyType          0
PropertyState         0
ProductType           0
PPM                   0
Channel               0
OrigInterestRate      0
LTV                   0
OrigUPB               0
DTI                   0
OCLTV                 0
Occupancy             0
Units                 0
MIP                   0
MSA                   0
MaturityDate          0
FirstTimeHomebuyer    0
MonthsInRepayment     0
dtype: int64

In [12]:
df[df.duplicated()]

Empty DataFrame
Columns: [CreditScore, FirstPaymentDate, FirstTimeHomebuyer, MaturityDate, MSA, MIP, Units, Occupancy, OCLTV, DTI, OrigUPB, LTV, OrigInterestRate, Channel, PPM, ProductType, PropertyState, PropertyType, PostalCode, LoanSeqNum, LoanPurpose, OrigLoanTerm, NumBorrowers, SellerName, ServicerName, EverDelinquent, MonthsDelinquent, MonthsInRepayment]
Index: []

[0 rows x 28 columns]

In [13]:
df.head()

,CreditScore,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
0,0,199902,N,202901,16974,25,1,O,89,27,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
1,0,199902,N,202901,19740,0,1,O,73,17,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
2,0,199902,N,202901,29940,0,1,O,75,16,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
3,0,199902,N,202901,31084,0,1,O,76,14,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
4,0,199902,N,202901,35644,0,1,O,78,18,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [23]:
#Feature engineering

from pandas.core.describe import DataFrameDescriber
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Perform feature scaling
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df[['OrigUPB', 'OrigLoanTerm']])

df['Scaled UPB'] = scaled_features[:, 0]
df['Scaled Loan Term'] = scaled_features[:, 1]

# Extract new features
df['Loan-to-Value Ratio'] = df['OrigUPB'] / df['OrigInterestRate']
df['Monthly Payment'] = df['OrigInterestRate'] / df['OrigLoanTerm']

df['Scaled UPB'] = scaled_features[:, 0]
df['Scaled Loan Term'] = scaled_features[:, 1]

# Print the updated dataset
print(df.head())

   CreditScore  FirstPaymentDate FirstTimeHomebuyer  MaturityDate    MSA  MIP  \
0            0            199902                  N        202901  16974   25
1            0            199902                  N        202901  19740    0
2            0            199902                  N        202901  29940    0
3            0            199902                  N        202901  31084    0
4            0            199902                  N        202901  35644    0

   Units Occupancy  OCLTV  DTI  ...  NumBorrowers  SellerName  \
0      1         O     89   27  ...             2          FL
1      1         O     73   17  ...             1          FT
2      1         O     75   16  ...             2          FL
3      1         O     76   14  ...             2          GM
4      1         O     78   18  ...             2          GM

           ServicerName EverDelinquent MonthsDelinquent MonthsInRepayment  \
0  WASHINGTONMUTUALBANK              0                0                52
1  CHASEHOMEFINANCELLC               0                0               144
2  WASHINGTONMUTUALBANK              0                0                67
3  GMACMTGECORP                      0                0                35
4  GMACMTGECORP                      0                0                54

  Scaled UPB Scaled Loan Term Loan-to-Value Ratio Monthly Payment
0  -0.154160         0.073653        17333.333333        0.018750
1  -0.303829         0.073653        16769.230769        0.018056
2  -0.696709         0.073653        12800.000000        0.019097
3   0.650310         0.073653        23272.727273        0.019097
4  -0.303829         0.073653        15298.245614        0.019792

[5 rows x 32 columns]

In [42]:
# Perform feature scaling
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df[['FirstPaymentDate', 'Scaled UPB', 'Monthly Payment']])

df['Scaled MIP'] = scaled_features[:, 0]
df['Scaled DTI'] = scaled_features[:, 1]
df['Scaled OCLTV'] = scaled_features[:, 2]
df['Scaled Units'] = scaled_features[:, 2]

# Drop original columns
df.drop(['Scaled UPB', 'MSA', 'CreditScore'], axis=1, inplace=True)

In [43]:
df.head()

,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,Occupancy,OrigUPB,LTV,OrigInterestRate,Channel,PPM,ProductType,...,EverDelinquent,MonthsDelinquent,MonthsInRepayment,Scaled Loan Term,Loan-to-Value Ratio,Monthly Payment,Scaled MIP,Scaled DTI,Scaled OCLTV,Scaled Units
0,199902,N,202901,O,117000,89,6.750,T,N,FRM,...,0,0,52,0.073653,17333.333333,0.018750,-0.194421,-0.154160,-0.522242,-0.522242
1,199902,N,202901,O,109000,73,6.500,R,N,FRM,...,0,0,144,0.073653,16769.230769,0.018056,-0.194421,-0.303829,-1.237655,-1.237655
2,199902,N,202901,O,88000,75,6.875,T,N,FRM,...,0,0,67,0.073653,12800.000000,0.019097,-0.194421,-0.696709,-0.164535,-0.164535
3,199902,N,202901,O,160000,76,6.875,R,N,FRM,...,0,0,35,0.073653,23272.727273,0.019097,-0.194421,0.650310,-0.164535,-0.164535
4,199902,N,202901,O,109000,78,7.125,R,N,FRM,...,0,0,54,0.073653,15298.245614,0.019792,-0.194421,-0.303829,0.550878,0.550878

In [52]:
# Define credit score ranges and corresponding labels
credit_score_ranges = [(0, 599), (600, 679), (680, 719), (720, 900)]
credit_score_labels = ['Poor', 'Fair', 'Good', 'Excellent']
print(df.head())

   FirstPaymentDate FirstTimeHomebuyer  MaturityDate Occupancy  OrigUPB  LTV  \
0            199902                  N        202901         O   117000   89
1            199902                  N        202901         O   109000   73
2            199902                  N        202901         O    88000   75
3            199902                  N        202901         O   160000   76
4            199902                  N        202901         O   109000   78

   OrigInterestRate Channel PPM ProductType  ... MonthsDelinquent  \
0             6.750       T   N       FRM    ...                0
1             6.500       R   N       FRM    ...                0
2             6.875       T   N       FRM    ...                0
3             6.875       R   N       FRM    ...                0
4             7.125       R   N       FRM    ...                0

  MonthsInRepayment Scaled Loan Term Loan-to-Value Ratio Monthly Payment  \
0                52         0.073653        17333.333333        0.018750
1               144         0.073653        16769.230769        0.018056
2                67         0.073653        12800.000000        0.019097
3                35         0.073653        23272.727273        0.019097
4                54         0.073653        15298.245614        0.019792

   Scaled MIP Scaled DTI Scaled OCLTV Scaled Units  LTV Category
0   -0.194421  -0.154160    -0.522242    -0.522242        Medium
1   -0.194421  -0.303829    -1.237655    -1.237655           Low
2   -0.194421  -0.696709    -0.164535    -0.164535           Low
3   -0.194421   0.650310    -0.164535    -0.164535           Low
4   -0.194421  -0.303829     0.550878     0.550878           Low

[5 rows x 30 columns]

In [48]:
print(df.tail())

        FirstPaymentDate FirstTimeHomebuyer  MaturityDate Occupancy  OrigUPB  \
291446            199903                  N        202902         O    90000
291447            200210                  N        202904         O   267000
291448            200304                  N        202904         O    87000
291449            199904                  N        202903         I    88000
291450            199903                  N        202902         O    70000

        LTV  OrigInterestRate Channel PPM ProductType  ... EverDelinquent  \
291446   60             7.000       R   N       FRM    ...              0
291447   73             6.375       C   N       FRM    ...              0
291448   73             5.625       R   N       FRM    ...              0
291449   80             7.000       R   N       FRM    ...              0
291450   47             7.000       R   N       FRM    ...              0

       MonthsDelinquent MonthsInRepayment Scaled Loan Term  \
291446                0                12         0.073653
291447                0                53       -17.337817
291448                0                38       -19.885837
291449                0                32         0.073653
291450                0                29         0.073653

       Loan-to-Value Ratio  Monthly Payment Scaled MIP Scaled DTI  \
291446        12857.142857         0.019444  -0.124604  -0.659292
291447        41882.352941         0.019984  21.309418   2.652129
291448        15466.666667         0.017971  27.872278  -0.715418
291449        12571.428571         0.019444  -0.054786  -0.696709
291450        10000.000000         0.019444  -0.124604  -1.033464

       Scaled OCLTV  Scaled Units
291446     0.193172      0.193172
291447     0.749355      0.749355
291448    -1.324510     -1.324510
291449     0.193172      0.193172
291450     0.193172      0.193172

[5 rows x 29 columns]

In [49]:
ltv_ranges = [(0, 80), (80, 90), (90, 100)]
ltv_labels = ['Low', 'Medium', 'High']

# Create a new column 'LTV Category' based on the LTV ranges
df['LTV Category'] = pd.cut(df['LTV'], bins=[range[0] - 1 for range in ltv_ranges] + [ltv_ranges[-1][1]], labels=ltv_labels)

# Print the updated dataset
print(df.head())

   FirstPaymentDate FirstTimeHomebuyer  MaturityDate Occupancy  OrigUPB  LTV  \
0            199902                  N        202901         O   117000   89
1            199902                  N        202901         O   109000   73
2            199902                  N        202901         O    88000   75
3            199902                  N        202901         O   160000   76
4            199902                  N        202901         O   109000   78

   OrigInterestRate Channel PPM ProductType  ... MonthsDelinquent  \
0             6.750       T   N       FRM    ...                0
1             6.500       R   N       FRM    ...                0
2             6.875       T   N       FRM    ...                0
3             6.875       R   N       FRM    ...                0
4             7.125       R   N       FRM    ...                0

  MonthsInRepayment Scaled Loan Term Loan-to-Value Ratio Monthly Payment  \
0                52         0.073653        17333.333333        0.018750
1               144         0.073653        16769.230769        0.018056
2                67         0.073653        12800.000000        0.019097
3                35         0.073653        23272.727273        0.019097
4                54         0.073653        15298.245614        0.019792

   Scaled MIP Scaled DTI Scaled OCLTV Scaled Units  LTV Category
0   -0.194421  -0.154160    -0.522242    -0.522242        Medium
1   -0.194421  -0.303829    -1.237655    -1.237655           Low
2   -0.194421  -0.696709    -0.164535    -0.164535           Low
3   -0.194421   0.650310    -0.164535    -0.164535           Low
4   -0.194421  -0.303829     0.550878     0.550878           Low

[5 rows x 30 columns]

In [54]:
# Convert 'FirstTimeHomeBuyer' column to numerical values
label_encoder = LabelEncoder()
df['FirstTimeHomebuyer'] = label_encoder.fit_transform(df['FirstTimeHomebuyer'])
df['YearsInRepayment'] = df['MonthsInRepayment'] / 12
df['YearsInRepayment'].head()

0     4.333333
1    12.000000
2     5.583333
3     2.916667
4     4.500000
Name: YearsInRepayment, dtype: float64

In [55]:
df['MonthsInRepayment'].head()

0     52
1    144
2     67
3     35
4     54
Name: MonthsInRepayment, dtype: int64

In [56]:
range_limits = [0, 4, 8, 12, 16, np.inf]
range_labels = ['Range 1', 'Range 2', 'Range 3', 'Range 4', 'Range 5']

# Create a new column 'RepayRange' based on the ranges
df['RepayRange'] = pd.cut(df['YearsInRepayment'], bins=range_limits, labels=range_labels, right=False)
df.head()

,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,Occupancy,OrigUPB,LTV,OrigInterestRate,Channel,PPM,ProductType,...,Scaled Loan Term,Loan-to-Value Ratio,Monthly Payment,Scaled MIP,Scaled DTI,Scaled OCLTV,Scaled Units,LTV Category,YearsInRepayment,RepayRange
0,199902,0,202901,O,117000,89,6.750,T,N,FRM,...,0.073653,17333.333333,0.018750,-0.194421,-0.154160,-0.522242,-0.522242,Medium,4.333333,Range 2
1,199902,0,202901,O,109000,73,6.500,R,N,FRM,...,0.073653,16769.230769,0.018056,-0.194421,-0.303829,-1.237655,-1.237655,Low,12.000000,Range 4
2,199902,0,202901,O,88000,75,6.875,T,N,FRM,...,0.073653,12800.000000,0.019097,-0.194421,-0.696709,-0.164535,-0.164535,Low,5.583333,Range 2
3,199902,0,202901,O,160000,76,6.875,R,N,FRM,...,0.073653,23272.727273,0.019097,-0.194421,0.650310,-0.164535,-0.164535,Low,2.916667,Range 1
4,199902,0,202901,O,109000,78,7.125,R,N,FRM,...,0.073653,15298.245614,0.019792,-0.194421,-0.303829,0.550878,0.550878,Low,4.500000,Range 2

In [72]:
df['LTV_bin'] = pd.cut(df['LTV'], bins=[0, 579, 669, 739, 799, float('inf')],
                                 labels=['Poor', 'Fair', 'Good', 'Very Good', 'Excellent'])
df['LTV_diff'] = df['LTV'] - df.groupby('LoanPurpose')['LTV'].transform('mean')
df['LTV_binary'] = df['LTV'].apply(lambda x: 1 if x > 800 else 0)
df['LTV_bin'] = df['LTV_bin'].cat.add_categories('Missing').fillna('Missing')
df['LTV_bin'].fillna(0, inplace=True)


df['RemainingMaturity'] = pd.to_datetime(df['MaturityDate'], errors='coerce').sub(pd.to_datetime('today')).dt.days
df['RemainingMaturity'].fillna(0, inplace=True)


# MaturityDate
df['MaturityDate_binary'] = df['MaturityDate'].apply(lambda x: 1 if x > 0 else 0)



df['Channel_group'] = pd.to_numeric(df['Channel'], errors='coerce')

df['Channel_group'] = df['Channel_group'].apply(lambda x: 1 if x > 0 else 0)

df['Channel_group'].fillna(0, inplace=True)


df['Occupancy'] = df['Occupancy'].map({'O': 1, 'I': 0})
df['Occupancy'].fillna(0, inplace=True)


df['LTV_bin'] = pd.cut(df['LTV'], bins=[0, 60, 70, 80, 90, 100, float('inf')],
                           labels=['<60', '60-69', '70-79', '80-89', '90-100', '>100'])
df['LTV_diff'] = df['LTV'] - df.groupby('LoanPurpose')['LTV'].transform('mean')
df['LTV_bin'] = df['LTV_bin'].cat.add_categories('Missing').fillna('Missing')



df['OrigUPB_bin'] = pd.cut(df['OrigUPB'], bins=[0, 20, 30, 40, 50, float('inf')],
                         labels=['<20', '20-29', '30-39', '40-49', '>50'])
df['OrigUPB_diff'] = df['OrigUPB'] - df.groupby('LoanPurpose')['OrigUPB'].transform('mean')
df['OrigUPB_bin'] = df['OrigUPB_bin'].cat.add_categories('Missing').fillna('Missing')


df['OrigUPB_bin'] = pd.cut(df['OrigUPB'], bins=[0, 100000, 200000, 300000, float('inf')],
                             labels=['<100k', '100k-199k', '200k-299k', '>300k'])
df['OrigUPB_bin'] = df['OrigUPB_bin'].cat.add_categories('Missing').fillna('Missing')


# LTV
df['LTV_bin'] = pd.cut(df['LTV'], bins=[0, 60, 70, 80, 90, 100, float('inf')],
                         labels=['<60', '60-69', '70-79', '80-89', '90-100', '>100'])
df['LTV_diff'] = df['LTV'] - df.groupby('LoanPurpose')['LTV'].transform('mean')
df['LTV_bin'] = df['LTV_bin'].cat.add_categories('Missing').fillna('Missing')


df['OrigInterestRate_bin'] = pd.cut(df['OrigInterestRate'], bins=[0, 3, 4, 5, float('inf')],
                                      labels=['<3', '3-3.99', '4-4.99', '>=5'])



if 'Channel' in df.columns:
    df = pd.get_dummies(df, columns=['Channel'], prefix='Channel')



df['PPM_binary'] = df['PPM'].apply(lambda x: 1 if x == 'Y' else 0)
df['PPM_binary'].fillna(0, inplace=True)


#if 'LoanPurpose' in df.columns:
    #df = pd.get_dummies(df, columns=['LoanPurpose'], prefix='LoanPurpose')


df['OrigLoanTerm_bin'] = pd.cut(df['OrigLoanTerm'], bins=[0, 300, 400, float('inf')],
                                  labels=['Short', 'Medium', 'Long'])


df['NumBorrowers'] = pd.to_numeric(df['NumBorrowers'], errors='coerce')

# Replace any NaN values with 0
df['NumBorrowers'].fillna(0, inplace=True)


df['NumBorrowers'] = df['NumBorrowers'].apply(lambda x: 1 if x > 1 else 0)


df.columns

Index(['FirstPaymentDate', 'FirstTimeHomebuyer', 'MaturityDate', 'Occupancy',
       'OrigUPB', 'LTV', 'OrigInterestRate', 'PPM', 'ProductType',
       'PropertyState', 'PropertyType', 'PostalCode', 'LoanSeqNum',
       'LoanPurpose', 'OrigLoanTerm', 'NumBorrowers', 'SellerName',
       'ServicerName', 'EverDelinquent', 'MonthsDelinquent',
       'MonthsInRepayment', 'Scaled Loan Term', 'Loan-to-Value Ratio',
       'Monthly Payment', 'Scaled MIP', 'Scaled DTI', 'Scaled OCLTV',
       'Scaled Units', 'LTV Category', 'YearsInRepayment', 'RepayRange',
       'LTV_bin', 'LTV_diff', 'LTV_binary', 'RemainingMaturity',
       'MaturityDate_binary', 'Channel_group', 'OrigUPB_bin', 'OrigUPB_diff',
       'OrigInterestRate_bin', 'Channel_B', 'Channel_C', 'Channel_R',
       'Channel_T', 'PPM_binary', 'OrigLoanTerm_bin'],
      dtype='object')

In [87]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

#columns for PCA
columns_for_pca = ['OrigUPB_diff','LTV_diff']


# Standardize the selected columns
scaler = StandardScaler()
df_selected = df[columns_for_pca]
df_selected_scaled = scaler.fit_transform(df_selected)

# PCA
pca = PCA(n_components=2)
pca_result = pca.fit_transform(df_selected_scaled)

# results
explained_variance = pca.explained_variance_ratio_
principal_components = pd.DataFrame(
    data=pca.components_,
    columns=columns_for_pca,
    index=['PC1', 'PC2']
)

# explained variance ratio
print("Explained variance ratio:", explained_variance)

# principal components
print("Principal components:")
print(principal_components)

Explained variance ratio: [0.54984036 0.45015964]
Principal components:
     OrigUPB_diff  LTV_diff
PC1     -0.707107 -0.707107
PC2      0.707107 -0.707107